### 1. Getting Started

In [1]:
print("Hellow Word")

Hellow Word

In [4]:
print("Noman",25, 5000.0, sep="-")

Noman-25-5000.0

In [7]:
print("Noman", end=" ")
print(25, end=" ")
print(5000.0)

Noman 25 5000.0

### 2. Data Types

###### Python supports 3 categories of Data Types:
* Basic - Int, Float, Complex, Boolean, String
* Container Types - List,  Tuple, Sets, Dictionary
* User-Defined - Class

In [10]:
# Int
print(4)
print(1e308) # Int Range
print(1e309)

4
1e+308
inf

In [12]:
# Float
print(4.5)
print(1.7e308)
print(1.7e309)

4.5
1.7e+308
inf

In [13]:
# Boolean 
print(True)
print(False)

True
False

In [14]:
# Complex
print(4+5j)

(4+5j)

In [15]:
# String
print('Noman')
print("Khalil")
print("""Uddin""")

Noman
Khalil
Uddin

In [17]:
# List
print([1,2,3,4,5])

[1, 2, 3, 4, 5]

In [18]:
# Tuple
print((1,2,3,4,5))

(1, 2, 3, 4, 5)

In [19]:
# Set
print({1,2,3,4,5})

{1, 2, 3, 4, 5}

In [20]:
# Dictionary
print({"Name": "Noman", "Age":40, "Salary": 70000.0})

{'Name': 'Noman', 'Age': 40, 'Salary': 70000.0}

### 3. Comments

In [21]:
# this is a comment

In [22]:
# this is multiline comment
# this is multiline comment
# this is multiline comment

### 4. Variables

In [23]:
# Dynamic Typing (No vaiable Declaration or specify the data type)
name = "Noman"
print(name)

In [25]:
# Dynamic Binding (No restriction of similar data type)
name = "Noman"
name = 4
print(name)

4

In [31]:
# Special Declaration
a = 5 ; b = 6 ; c = 7
print(a,b,c)

name, age, salary = "Noman", 24, 70000.0
print(name, age, salary)

a = b = c = 6
print(a,b,c)

5 6 7
Noman 24 70000.0
6 6 6

### 5. Keywords
Keywords are predefined or reserved words that have special meanings to the compiler. These are part of the syntax and cannot be used in the program.

In [32]:
import keyword

In [36]:
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [38]:
# Total Keywords in Python
len(keyword.kwlist)

35

### 6. Identifiers
An identifier is a sequence of characters used to identify a variable, function, class, module, or any other user-defined item.
* Can only start with and alphabet _
* Followed by zero or more letter, _ and digits
* Keywords connot be used as an identifiers

In [39]:
name = "Noman"

In [41]:
# False = "Noman" - error

### 7. User Input

In [43]:
input(prompt = "Enter your name: ")

Enter your name: Noman

'Noman'

In [46]:
first_num = input("Enter first num: ")
second_num = input("Enter second num: ")
result = first_num + second_num
print(result) # input funtion always return string

Enter first num: 56
Enter second num: 27
5627

### 8. Type Conversion
* Implicit: Data type conversion takes place during compilation or during the runtime.
* Explicit: User convert the data type of an object to required data type.

In [47]:
type(result)

str

In [48]:
print(type(first_num), type(second_num))

<class 'str'> <class 'str'>

In [49]:
# int
int("56")

56

In [50]:
# float
float("23")

23.0

In [53]:
int(float("5.6"))

5

In [55]:
a = 4.5
print(int(a))
print(a)
a = int(a)
print(a)

4
4.5
4

In [56]:
first_num = input("Enter first num: ")
second_num = input("Enter second num: ")
result = int(first_num) + int(second_num)
print(result) # input funtion always return string

Enter first num: 56
Enter second num: 28
84

In [57]:
first_num = int(input("Enter first num: "))
second_num = int(input("Enter second num: "))
result = first_num + second_num
print(result) # input funtion always return string

Enter first num: 67
Enter second num: 28
95