### 1. While Loop:

In [1]:
# while condition:
#    statement

In [2]:
number = int(input("Enter the number"))
i = 1
while i<11:
    print(f"{number} x {i} = {number * i}")
    i+=1

Enter the number5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

### Number Guessing Game with While Lopp

In [3]:
import random

jackpot = random.randint(1,100)
user_input = int(input("Guess the Jackpot Nmmber: "))
counter = 1

while jackpot != user_input: 
    if jackpot > user_input:
        user_input = int(input("Guess Higher: "))
        counter += 1
    else:
        user_input = int(input("Guess Lower: "))
        counter += 1
print(f"Hurray...! Jackpot with {counter} attempts")

Guess the Jackpot Nmmber: 50
Hurray...! Jackpot with 1 attempts

### 2. For Loop

In [4]:
# range
list(range(11))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [5]:
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [6]:
list(range(1,11,2))

[1, 3, 5, 7, 9]

In [7]:
list(range(11,1,-2))

[11, 9, 7, 5, 3]

In [8]:
for i in list(range(1,11,2)):
    print(i)

1
3
5
7
9

In [9]:
# Sequence
string = "Karachi"
lst = ["Karachi", "Lahore", "Islamabad"]
tpl = ("Noman", "Ali", "Qasim")
sets = {'Zahid', "Umair", "Umair", "Nameen"}

In [10]:
for i in string:
    print(i)

K
a
r
a
c
h
i

In [11]:
for i in lst:
    print(i)

Karachi
Lahore
Islamabad

In [12]:
for i in tpl:
    print(i)

Noman
Ali
Qasim

In [13]:
for i in sets:
    print(i)

Zahid
Umair
Nameen

### 3. Nested Loops

In [14]:
# *
# **
# ***
# ****
# *****

In [15]:
rows = int(input("Enter the number of rows: "))

for i in range(1, rows+1):
    for j in range(0,i):
        print("*", end="")
    print("")

Enter the number of rows: 5
*
**
***
****
*****

To better understand your code:
* https://pythontutor.com/python-debugger.html#mode=edit

### 4. Break/Continue/Pass

In [16]:
for i in range(10):
    if i == (5):
        break
    print(i)

0
1
2
3
4

In [17]:
for i in range(10):
    if i == (5):
        continue
    print(i)

0
1
2
3
4
6
7
8
9

In [18]:
for i in range(10):
    pass