### Definition

Tuples are used to store multiple items in a single variable. A tuple is a collection which is ordered and unchangeable.

### 1. Creating Tuples

In [1]:
tuple_1 = ()

In [22]:
tuple_2 = (1,2,3,4,5)
tuple_2

(1, 2, 3, 4, 5)

In [4]:
tuple_3 = ("Noman", 24, 50000.0)
tuple_3

('Noman', 24, 50000.0)

In [5]:
tuple_4 = ("Noman", 24, 50000.0, (1,2,3,4,5))
tuple_4

('Noman', 24, 50000.0, (1, 2, 3, 4, 5))

In [6]:
tuple_5 = (1)
print(tuple_5)
print(type(tuple_5))

1
<class 'int'>

In [7]:
tuple_6 = ("Hello",)
print(tuple_6)
print(type(tuple_6))

('Hello',)
<class 'tuple'>

In [8]:
tuple_7 = tuple("Hello")
print(tuple_7)
print(type(tuple_7))

('H', 'e', 'l', 'l', 'o')
<class 'tuple'>

In [9]:
tuple_7 = tuple([1,2,3,4,5])
print(tuple_7)
print(type(tuple_7))

(1, 2, 3, 4, 5)
<class 'tuple'>

### 2. Accessing Tuples

In [14]:
tuple_4[0]

'Noman'

In [15]:
tuple_4[-1]

(1, 2, 3, 4, 5)

In [16]:
tuple_4[:]

('Noman', 24, 50000.0, (1, 2, 3, 4, 5))

In [17]:
tuple_4[-1][0]

1

### 3. Editing/Adding in Tuples

In [20]:
# tuple_4[0] = "Noman Khan" ~ TypeError: 'tuple' object does not support item assignment

### 4. Deleting Tuples

In [23]:
del tuple_2
# tuple_2 ~ NameError: name 'tuple_2' is not defined

### 5. Operations on Tuples

In [26]:
tuple_3 + tuple_7

('Noman', 24, 50000.0, 1, 2, 3, 4, 5)

In [27]:
tuple_3 * 2

('Noman', 24, 50000.0, 'Noman', 24, 50000.0)

In [28]:
for i in tuple_3:
    print(i)

Noman
24
50000.0

### 6. Tuple Functions

In [33]:
len(tuple_7)

5

In [34]:
min(tuple_7)

1

In [35]:
max(tuple_7)

5

In [36]:
sum(tuple_7)

15

In [37]:
sorted(tuple_7, reverse=True)

[5, 4, 3, 2, 1]