### Definition

Dictionary is a mutable data structure that allows you to store key-value pairs. It can be created using the dict() constructor or curly braces {}. Once you have created a dictionary, you can add, remove, or update elements using the methods dict.

### Rules: 
* Dictionary has no indexing.
* Dictionary is a mutable types.
* Keys are immutable, Values can be mutable.
* Keys should be unique.

### 1. Creating Dictionary

In [1]:
dict_1 = {}
dict_1

{}

In [2]:
dict_2 = {"Name": "Noman", "Age": 25, "Salary": 25000.0}
dict_2

{'Name': 'Noman', 'Age': 25, 'Salary': 25000.0}

In [3]:
dict_3 = {"Name": "Ali", "Name": "Noman"}
dict_3

{'Name': 'Noman'}

### 2. Creating 2D Dictionary

In [4]:
dict_4 = {"Name": "Noman", "Address": {"Address1": "Gulshan","Address2": "Johar" }}
dict_4

{'Name': 'Noman', 'Address': {'Address1': 'Gulshan', 'Address2': 'Johar'}}

### 3. Accessing Items from Dictionary

In [5]:
dict_2["Name"]

'Noman'

In [6]:
dict_4["Address"]["Address1"]

'Gulshan'

### 4. Edit a Dictionary

In [7]:
dict_2["Name"] = "Noman Sheikh"
dict_2

{'Name': 'Noman Sheikh', 'Age': 25, 'Salary': 25000.0}

In [8]:
dict_2.get("Name")

'Noman Sheikh'

### 5. Adding Key Value Pair in Dictionary

In [9]:
dict_2["Address"] = "Gulshan"
dict_2

{'Name': 'Noman Sheikh', 'Age': 25, 'Salary': 25000.0, 'Address': 'Gulshan'}

### 6. Deleting Dicionary/Key value Pair

In [10]:
del dict_1
# dict_1 ~ NameError: name 'dict_1' is not defined

In [11]:
del dict_2['Address']
dict_2

{'Name': 'Noman Sheikh', 'Age': 25, 'Salary': 25000.0}

In [12]:
dict_2.clear()
dict_2

{}

### 7. Operations in Dictionary

In [13]:
for i in dict_4:
    print(i)

Name
Address

In [14]:
for i in dict_4:
    print(i, dict_4[i])

Name Noman
Address {'Address1': 'Gulshan', 'Address2': 'Johar'}

In [15]:
"Noman" in dict_3

False

In [16]:
"Name" in dict_3

True

### 8. Set Functions

In [17]:
len(dict_3)

1

In [18]:
min(dict_3)

'Name'

In [19]:
max(dict_3)

'Name'

In [20]:
sorted(dict_3, reverse=True)

['Name']

### 7. Specific Set Functions

In [21]:
dict_3.keys()

dict_keys(['Name'])

In [22]:
dict_3.values()

dict_values(['Noman'])